
body{
  background-color: rgb(117, 180, 117)
}
.banner{
  height: 175px;
  width: 100%;
  background-image: url(../images/train.jpg);
  background-size: 100% 175px;
  position: relative;
}
.title{
  color: white;
  position: absolute;
  left: 2em;
  top: 1em;
  font-size: 36px;
}
.t-table{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.t-heading{
  color: white;
  background-color: rgb(13, 82, 13);
  height: 50px;
  width: 200px;
  vertical-align: middle;
  border-radius: 15px;
}
.t-data{
text-align: center;
vertical-align: middle;
background-color: rgb(21, 138, 6);
color: white;
border-radius: 10px;
height: 25px;
width: 175px;
}
.container{
width: 100%;
}
.inputo{
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border: 1px solid black;
  width: 650px;
  background-color: darkslategray;
  border-radius: 15px;
  text-align: center;
  color: white;
}
.field{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: black;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.js-submit{
  border: 1px solid black;
  border-radius: 15px;
  width: 75px;
  height: 25px;
}